<nav class="navi">
    <div class="nav-left">
        @if (auth.currentUser(); as user) {
        <span class="user-greeting">Hi, {{ user.username }}!</span>
        }
    </div>

    <ul class="nav-center">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/map">Map</a></li>
    </ul>

    <div class="nav-right">
        @if (auth.currentUser()) {
        <button type="button" class="btn-logout" (click)="logout()">Logout</button>
        } @else {
        <a routerLink="/login" class="btn-login">Login</a>
        <a routerLink="/register" class="btn-register">Register</a>
        }
    </div>
</nav>